<div class="row transparent">
	{{> foods/food-table devoured=false}}
	{{> foods/food-table devoured=true}}
</div>
<div class="row transparent">
	<div class="offset-md-1 col-md-10">
		<form role="form"  class="create-form">
			{{!-- action="/api/foods" method="POST" --}}
			<div class="form-group">
				 <div class="row"><div class="col-md-6"><label for="inputFoodName">
					Foods
				</label><input type="text" class="form-control" placeholder= "Add a new food!" id="inputFoodName" name="name">
			</div><div class="col-md-6"><label for="inputAllergens">
					Allergies
				</label><input type="text" class="form-control" placeholder= "Add allergens for food..." id="inputAllergens" name="allergens">
			</div></div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>